Design a configuration management system

User should be able to add configuration
User should be able to delete configuration
User should be able to search for configuration
User should be able to subscribe to Configuration So that any updates in configuration will gets notfied to user